<div class="container">
  <h1><%= @room.name %></h1>
  <section class="messages" style="min-height: 400px;">
    <span>Messages</span>
  </section>
  <section class="write">
    <input type="text" placeholder="type message...">
    <button>send</button>
  </section>
</div>
